/*custom css rule*/
/*import css*/
/* custom css*/
@font-face {
 font-family:roboto;
 src: url('../fonts/roboto-condensed.regular.ttf');
}
@font-face {
 font-family:roboto-light;
 src: url('../fonts/roboto-condensed.light.ttf');
}
@font-face {
 font-family:roboto-bold;
 src: url('../fonts/roboto-condensed.bold.ttf');
}
body{
  font-family: roboto;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
}
.header{
      position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1031;
    background: #222;
    padding: 9px 0px 0px;
    border-bottom: 2px solid #333;
}
header.header .head-title {
    margin: 0px;
    text-align: center;
    font-size: 25px;
    letter-spacing: .6px;
}
header.header ul.left-menu li {
    display: inline-block;
    padding: 0px 20px;
}
header.header ul.left-menu {
    list-style-type: none;
    text-align: center;
    float: right;
}
/*header.header:after {
    position: absolute;
    content: "";
    left: 0px;
    right: 0px;
    border-bottom: 2px solid #000;
    width: 30px;
    margin: 0px auto;
    bottom: -16px;
    height: 30px;
    transform: rotate(45deg);
    background: #fff;
    border-right: 2px solid #000;
}*/
.section-title{
    font-weight: 500;
    letter-spacing: .9px;
    text-align: center;
    line-height: 1;
    font-family: roboto;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 40px;
}
.section-title.large{
  font-size:32px;
}
.lead{
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height:28px;
  color: #9a9a9a;
}
.second-scroll .about-block .box-feature .img {
   
}
.second-scroll .about-block .box-feature {
    width: 17.3%;
    margin: 15px;
    overflow: hidden;
    float: left;
    padding-top: 10px;
    padding: 12px;
}
.second-scroll .about-block .box-feature .img img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px auto;
    opacity: .8;
}
.medium {
    line-height: 1;
    padding-top: 0px;
    font-size: 16px;
    margin: 17px;
    color: #fff;
    font-family: roboto-bold;
    letter-spacing: .4px;
}
.box-feature .medium {
    color: #fff;
    font-size: 19px;
}
a.link {
   font-size: 16px;
    padding-top: 17px;
    display: inline-block;
    letter-spacing: .9px;
    color: #fafafa;
    font-style: italic;
    margin-bottom: 12px;
}
a.link:hover,a.link:focus{
    color: #dc9916;
}
.second-scroll .about-block .box-feature .box-content {
    word-wrap: break-word;
    text-align: justify;
}
.second-scroll .about-block .box-feature .step {
    background: #f5f5f5;
    height: 80px;
    width: 80px;
    margin: 0px auto;
    border-radius: 50%;
    text-align: center;
    padding-top: 17%;
}
.slider-light{
    padding: 10px;
}
p.medium{
    line-height: 1;
    font-size: 18px;
}
ul.tabs li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 7px;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
    font-family: roboto;
    letter-spacing: 1.9px;
    padding: 7px 25px;
    background: #fff;
}
ul.tabs li:focus,ul.tabs li:hover{
    background: #f5f5f5;
}
.section .tabs-sec {
   padding-top: 13px;
    /* border-top: 1px solid #ebebeb; */
    margin-bottom: 17px;
}
ul.tabs li.active {
    color: #fff;
    border-bottom: 2px solid #dc9916;
    background: #222;
}
.overlay {
background-color: rgba(0, 0, 0, 0.6);
bottom: 0;
cursor: default;
left: 0;
opacity: 0;
position: fixed;
right: 0;
top: 0;
visibility: hidden;
z-index: 1;
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}
.popup {
background-color: #fff;
border: 3px solid #fff;
display: inline-block;
left: 50%;
opacity: 0;
padding: 15px;
position: fixed;
text-align: justify;
top: 40%;
visibility: hidden;
z-index: 10;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
-ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
-o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
-webkit-transition: opacity .5s, top .5s;
-moz-transition: opacity .5s, top .5s;
-ms-transition: opacity .5s, top .5s;
-o-transition: opacity .5s, top .5s;
transition: opacity .5s, top .5s;
}
.overlay:target+.popup {

top: 50%;
opacity: 1;
visibility: visible;
}

.close {
background-color: rgba(0, 0, 0, 0.8);
height: 30px;
line-height: 30px;
position: absolute;
right: 0;
text-align: center;
text-decoration: none;
top: -15px;
width: 30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
font-size: 24px;
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
background-color: rgba(64, 128, 128, 0.8);
}
.active-link{
    color: #dc9916 !important;
    border-bottom: 1px solid #dc9916;
}
.faq {
    text-align: left;
}
.text {
    font-size: 14px;
    line-height: 24px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    padding: 8px 10px;
    border-bottom: 1px solid #e9e9e9;
}
.panel {
    box-shadow: none;
}
.panel-content {
    padding: 6px 14px;
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}
.panel-title i.fa {
    float: right;
    padding-right: 20px;
}
.faq .medium.section-title{
    text-align: left;
}
.faq .popular-faq .title.light {
    font-weight: 100;
    line-height: 2;
    padding-top: 20px;
}
a.link.bold {
    font-weight: 700;
    color: #333;
    display: block;
}
.faq .popular-faq ul.faq-list li {
    list-style-type: circle;
    border-bottom: 1px solid #e9e9e9;
    padding: 5px;
}
.faq .popular-faq ul.faq-list {
    padding-left: 33px;
}
.col-centered{
    margin: 0x auto;
}
.col-centered {
    margin: 0 auto;
    float: none;
    text-align: left;
}
input.input {
    width: 100%;
    margin-bottom: 14px;
    border: 1px solid #bdbdbd;
    padding: 2px 10px;
}
input.input:hover,input.input:focus{
    outline: 0px;
    border: 1px solid #dc9916;
}
a.select_anchor i.fa {
    font-size: 25px;
    color: #222;
}
a.select_anchor {
    border: 1px solid #bdbdbd;
    width: 100%;
    display: block;
    text-align: right;
    padding-right: 20px;
}
input.radio {
    margin: 0px;
    width: auto;
    display: inline-block;
    margin-bottom: 33px;
    margin-top: 10px;
}
.section-title.large-color {
    color: #dc9916;
    font-size: 28px;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 15px;
}
.form{
  margin-top: 20px;  
}
.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
        padding: 0;
    }
    .modal.fade .modal-dialog{
        z-index: 9999;
    }
.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}
   .modal-header button {
    position: absolute;
    right: -16px;
    top: -17px;
    background: #fff;
    border: 0px;
    outline: 0px !important;
} 
.modal-header input.input {
    padding: 10px;
    margin: 0px;
    border-radius: 20px;
}
.modal-header {
    padding-bottom: 5px;
    border-bottom: 0px;
}
.modal-body h4.text {
    font-size: 16px;
    letter-spacing: .9px;
}
.modal-footer .btn-group:last-child > button {
    border-right: 0;
}
/*import css end*/
.bg-image{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bg-image-2{
  background-image: url('../img/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
p.lead-bold{
     font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.9px;
    line-height: 36px;
}
p.lead-bold>span{
  font-family: roboto-bold;
}
.button {
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 49px;
    font-size: 18px;
    font-weight: 100;
    background: rgba(37, 27, 22, 0.53);
    margin-top: 20px;
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    letter-spacing: 1.2px;


}
.button:hover,.button:focus{
  color: #333;
  background: rgba(235, 235, 235, 0.49);
}
.margin-top-30{
  margin-top:30px;
}
.bg-layer-1{
  background: #222222;
}
.bg-layer-2{
  background: #f4f4f4;
}
.box-about .img img {
    height: 80px;
}
.box-about {
    padding-top: 21px;
}
.text{
  color: #9a9a9a;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
}
.margin-top-20{
  margin-top: 20px;
}
.section-title.large.black{
  color: #222 !important;
}
.gray{
  color: #4a4949 !important;
}
.content-title {
    font-size: 26px;
    letter-spacing: 1.2px;
    margin: 0px;
    font-family: roboto;
    padding-top: 25px;
}
.text.gray{
  font-size: 20px;
  padding-top: 3px;
}
a{
  cursor: pointer;
}
.slider-img img {
    height: 176px;
    width: 384px;
}